<div class="container">
  <div class="main clearfix">
    <div class="col-md-6 col-md-offset-3">
      <h1>Tasks</h1>
      <a class="btn btn-primary" href="/tasks/new">Create new task</a>
      <ul>
        <% @tasks.each do |task| %>
          <li><%= task.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
