<div class="container">
  <div class="main clearfix">
    <div class="col-md-6 col-md-offset-3">
      <div class="alert alert-success text-center">
        <p>Today Score: <%= current_user.daily_score %></p>
      </div>
      <div class="alert alert-warning text-center">
        <p>Continuation: <%= current_user.continuation %> days</p>
      </div>
      <h1 class="text-center">Daily tasks</h1>
      <ul id="daily-tasks">
        <% @tasks.each do |task| %>
          <li>
            <%= check_box_tag '', task.completed?, task.completed?, data: {id: task.id} %>
            <%= task.task.name %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
